.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
*.log
03_paper/term_paper.pdf
Rplots.pdf
03_paper/term_paper_files/
03_paper/term_paper.tex
04_presentation/presentation_files/
04_presentation/libs/
04_presentation/index_files/